[
	{erlang_benchmarks, [
		{testarg, "novalue"},
		{master, ""},
		{client, ""},
		{runner, ""},
		{clients, -1}
	]},
	{kernel, [
		{logger_level, info},
		{logger, [{handler, default, logger_std_h, #{
			config => #{
				burst_limit_enable => false
			},
			formatter => {
				logger_formatter, #{
					single_line => true,
					template => [time,"@",pid,": ",msg," ; FROM ",mfa," IN ",file,":l.",line,"\n"]}
			}
		}}]}
	]}
].
